[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FlyingR"]
	path = FlyingR
	url = https://github.com/bmasinde/flyingr
	shallow = true
	registered = true
